grafana:
  adminPassword: "grafana"
  
  grafana.ini:
    server:
      root_url: "%(protocol)s://%(domain)s/grafana"
      serve_from_sub_path: true
  
  ingress:
    enabled: true
    ingressClassName: nginx
    path: /grafana
    pathType: Prefix




