apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  labels:
     app: {{ .Release.Name }}      
spec:
  selector:
    app: {{ .Release.Name }}
  type: {{ .Values.service.type | default "ClusterIP" }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: 8080
